In [ ]:
k = ['a','b','c','d','e']
print(k[-1:-7:-1])

['e', 'd', 'c', 'b', 'a']

In [ ]:
list1 = [100,200,300,400,500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
n=5
square=n*n
print(square)

25

In [ ]:
from datetime import date
current_date = date.today()
print("current year:",current_date.year)
print("current month:",current_date.month)
print("current day:",current_date.day)

current year: 2022
current month: 12
current day: 12

In [ ]:
str = input("enter a string")
modified_string = str[::2]
print(modified_string)

enter a stringhellopython
hloyhn

In [ ]:

  for i in range(1,6):
    for j in range(1, i+1):
      print("*", end="")
    print()
  for i in range(4, 0, -1):
    for j in range(1, i+1):
      print("*",end="")  
    print()

*
**
***
****
*****
****
***
**
*

In [ ]:
def print_numbers(n):
  if n==0:
    print(n)
    return
  print(n)
  print_numbers(n-1)
num=10
print_numbers(num)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
list1 = [5,[10,15,[20,25,[20,35],40],45],50]
pos = list1[1][2][2]
del pos[1]
pos.insert(1, 3500)
print(list1)

[5, [10, 15, [20, 25, [20, 3500], 40], 45], 50]

In [ ]:
string = "hello,universe!123"
i = 0
while i < len(string):
  if string[i].isalpha():
    print(string[i], end="")
    i += 1

hello